:root {
  --primary-color: #3066be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 200px;
  height: 100vh;
  background: var(--primary-color);
  text-align: center;
}

.sidebar h1 {
  color: #aeecef;
}

.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.menu-btn {
  padding-block: 3px;
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #aeecef;
  cursor: pointer;
}

.menu-btn:hover {
  background: #119da4;
}

/* MAIN */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Gameboard */
.board {
  margin: 20px auto;
  width: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--primary-color);
}

.board-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

/* Players */
.players {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
